#####################################################################
#	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor0 (B Motor)
[stepper_x]
step_pin: MOTOR0_STEP
dir_pin: MOTOR0_DIR
enable_pin: !MOTOR0_EN
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:400
endstop_pin: ^EBBCan: EBB_LIMIT_1
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: MOTOR0_CS
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


## Y Stepper on Motor1 (A Motor)
[stepper_y]
step_pin: MOTOR1_STEP
dir_pin: MOTOR1_DIR
enable_pin: !MOTOR1_EN
microsteps: 32
rotation_distance: 40
full_steps_per_rotation:400
endstop_pin: ^LIMIT_4
position_min: 0
position_endstop: 350
position_max: 351
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: MOTOR1_CS
interpolate: True
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2
[stepper_z]
step_pin: MOTOR2_STEP
dir_pin: MOTOR2_DIR
enable_pin: !MOTOR2_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##-----if using sexbolt as z endstop------
endstop_pin: LIMIT_5
position_endstop: 0.510
position_max: 330
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: MOTOR2_CS
interpolate: true
run_current: 0.8
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on Motor3
[stepper_z1]
step_pin: MOTOR3_STEP
dir_pin: !MOTOR3_DIR
enable_pin: !MOTOR3_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: MOTOR3_CS
interpolate: true
run_current: 0.8
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor4
[stepper_z2]
step_pin: MOTOR4_STEP
dir_pin: MOTOR4_DIR
enable_pin: !MOTOR4_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: MOTOR4_CS
interpolate: true
run_current: 0.8
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on Motor5
[stepper_z3]
step_pin: MOTOR5_STEP
dir_pin: !MOTOR5_DIR
enable_pin: !MOTOR5_EN
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: MOTOR5_CS
interpolate: true
run_current: 0.8
hold_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
